.movieWrapper {
  display: flex;
  margin-top: 20px;
  align-items: center;
}
.moviePoster {
  border-radius: 20px;
  border: 1px solid orangered;
  margin-right: 20px;
}
.movieTitle {
  color: orangered;
  margin-bottom: 15px;
}
.movieSubtitle {
  margin-bottom: 15px;
  margin-top: 15px;
}
.movieLink {
  width: 120px;
  padding-bottom: 10px;
  border-bottom: 1px solid orangered;
}
.movieBack {
  border-bottom: 1px solid orangered;
  padding-bottom: 10px;
  width: 100px;
}
